In [0]:
from pyspark.sql.functions import *
from pyspark.sql import *

spark = SparkSession.builder.appName('DB').getOrCreate()
df = [('Saif', 'IT', 12000),
      ('Ankit', 'Sales', 23000),
      ('Samay', 'Sales', 23000),
      ('Harshal', 'Logistics', 20000),
      ('Lakshman', 'Logistics', 23000)]
columns = ['Name', 'Department', 'Salary']
data = spark.createDataFrame(data=df, schema=columns)
data.show()

+--------+----------+------+
|    Name|Department|Salary|
+--------+----------+------+
|    Saif|        IT| 12000|
|   Ankit|     Sales| 23000|
|   Samay|     Sales| 23000|
| Harshal| Logistics| 20000|
|Lakshman| Logistics| 23000|
+--------+----------+------+

**Distinct**

In [0]:
from pyspark.sql import *
from pyspark.sql.functions import *

spark = SparkSession.builder.appName('Distinct').getOrCreate()
data = [('Saif', 'IT', 12000), ('Faisal', 'IT',14000),
        ('Karen','Research',23000), ('Yogesh','HR',34000),
        ('Saif', 'IT', 12000), ('Lalit', 'HR',23000)]

data = spark.createDataFrame(data=data, schema=columns)
new_df = data.distinct().count()
print('Distinct Count',new_df)
data.show()

Distinct Count 5
+------+----------+------+
|  Name|Department|Salary|
+------+----------+------+
|  Saif|        IT| 12000|
|Faisal|        IT| 14000|
| Karen|  Research| 23000|
|Yogesh|        HR| 34000|
|  Saif|        IT| 12000|
| Lalit|        HR| 23000|
+------+----------+------+

**drop duplicates**

In [0]:
from pyspark.sql import *
from pyspark.sql.functions import *

spark = SparkSession.builder.appName('Distinct').getOrCreate()
data = [('Saif', 'IT', 12000), ('Faisal', 'IT',14000),
        ('Karen','Research',23000), ('Yogesh','HR',34000),
        ('Saif', 'IT', 12000), ('Lalit', 'HR',23000)]

data = spark.createDataFrame(data=data, schema=columns)
new_df = data
new_df = data.dropDuplicates()
new_df.show()

+------+----------+------+
|  Name|Department|Salary|
+------+----------+------+
|  Saif|        IT| 12000|
|Faisal|        IT| 14000|
| Karen|  Research| 23000|
|Yogesh|        HR| 34000|
| Lalit|        HR| 23000|
+------+----------+------+

**groupby**

In [0]:
from pyspark.sql.functions import *
from pyspark.sql import *

spark = SparkSession.builder.appName('Groupby').getOrCreate()
data = [('Saif', 'IT', 12000), ('Faisal', 'IT',14000),
        ('Sachin','IT',23000), ('Nikhil','HR',34000),
        ('Kajal','Research',19000), ('Sasha','HR',32000),
        ('Karen','Research',23000), ('Yogesh','HR',34000),
        ('Saif', 'IT', 12000), ('Lalit', 'HR',23000)]

data = spark.createDataFrame(data=data, schema=columns)
new_df = data
new_df = data.dropDuplicates()
new_df.show()

+------+----------+------+
|  Name|Department|Salary|
+------+----------+------+
|  Saif|        IT| 12000|
|Faisal|        IT| 14000|
|Sachin|        IT| 23000|
|Nikhil|        HR| 34000|
| Kajal|  Research| 19000|
| Sasha|        HR| 32000|
| Karen|  Research| 23000|
|Yogesh|        HR| 34000|
| Lalit|        HR| 23000|
+------+----------+------+

In [0]:
new_df = data.groupby('Department').sum('Salary').show()

+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
|        IT|      61000|
|        HR|     123000|
|  Research|      42000|
+----------+-----------+

In [0]:
data.filter(col('Department')=='HR').show()

+------+----------+------+
|  Name|Department|Salary|
+------+----------+------+
|Nikhil|        HR| 34000|
| Sasha|        HR| 32000|
|Yogesh|        HR| 34000|
| Lalit|        HR| 23000|
+------+----------+------+

In [0]:
data.filter(col('Salary')<=20000).show()

+------+----------+------+
|  Name|Department|Salary|
+------+----------+------+
|  Saif|        IT| 12000|
|Faisal|        IT| 14000|
| Kajal|  Research| 19000|
|  Saif|        IT| 12000|
+------+----------+------+