In [0]:
file_location = "/FileStore/tables/indian_liver_patient-2.csv"
file_type = "csv"

# CSV options
infer_schema = "false"
first_row_is_header = "false"
delimiter = ","

# The applied options are for CSV files. For other file types, these will be ignored.
data = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

data.show()

+---+------+---------------+----------------+--------------------+--------------------+--------------------+--------------+-------+--------------------+-------+
|_c0|   _c1|            _c2|             _c3|                 _c4|                 _c5|                 _c6|           _c7|    _c8|                 _c9|   _c10|
+---+------+---------------+----------------+--------------------+--------------------+--------------------+--------------+-------+--------------------+-------+
|Age|Gender|Total_Bilirubin|Direct_Bilirubin|Alkaline_Phosphotase|Alamine_Aminotran...|Aspartate_Aminotr...|Total_Protiens|Albumin|Albumin_and_Globu...|Dataset|
| 65|Female|            0.7|             0.1|                 187|                  16|                  18|           6.8|    3.3|                 0.9|      1|
| 62|  Male|           10.9|             5.5|                 699|                  64|                 100|           7.5|    3.2|                0.74|      1|
| 62|  Male|            7.3|             4.1|                 490|                  60|                  68|             7|    3.3|                0.89|      1|
| 58|  Male|              1|             0.4|                 182|                  14|                  20|           6.8|    3.4|                   1|      1|
| 72|  Male|            3.9|               2|                 195|                  27|                  59|           7.3|    2.4|                 0.4|      1|
| 46|  Male|            1.8|             0.7|                 208|                  19|                  14|           7.6|    4.4|                 1.3|      1|
| 26|Female|            0.9|             0.2|                 154|                  16|                  12|             7|    3.5|                   1|      1|
| 29|Female|            0.9|             0.3|                 202|                  14|                  11|           6.7|    3.6|                 1.1|      1|
| 17|  Male|            0.9|             0.3|                 202|                  22|                  19|           7.4|    4.1|                 1.2|      2|
| 55|  Male|            0.7|             0.2|                 290|                  53|                  58|           6.8|    3.4|                   1|      1|
| 57|  Male|            0.6|             0.1|                 210|                  51|                  59|           5.9|    2.7|                 0.8|      1|
| 72|  Male|            2.7|             1.3|                 260|                  31|                  56|           7.4|      3|                 0.6|      1|
| 64|  Male|            0.9|             0.3|                 310|                  61|                  58|             7|    3.4|                 0.9|      2|
| 74|Female|            1.1|             0.4|                 214|                  22|                  30|           8.1|    4.1|                   1|      1|
| 61|  Male|            0.7|             0.2|                 145|                  53|                  41|           5.8|    2.7|                0.87|      1|
| 25|  Male|            0.6|             0.1|                 183|                  91|                  53|           5.5|    2.3|                 0.7|      2|
| 38|  Male|            1.8|             0.8|                 342|                 168|                 441|           7.6|    4.4|                 1.3|      1|
| 33|  Male|            1.6|             0.5|                 165|                  15|                  23|           7.3|    3.5|                0.92|      2|
| 40|Female|            0.9|             0.3|                 293|                 232|                 245|           6.8|    3.1|                 0.8|      1|
+---+------+---------------+----------------+--------------------+--------------------+--------------------+--------------+-------+--------------------+-------+
only showing top 20 rows

In [0]:
type(data)

Out[41]: pyspark.sql.dataframe.DataFrame

In [0]:
new_data = data.toPandas()
new_data

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,_c10
0,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
1,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.9,1
2,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
3,62,Male,7.3,4.1,490,60,68,7,3.3,0.89,1
4,58,Male,1,0.4,182,14,20,6.8,3.4,1,1
...,...,...,...,...,...,...,...,...,...,...,...
579,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
580,40,Male,0.6,0.1,98,35,31,6,3.2,1.1,1
581,52,Male,0.8,0.2,245,48,49,6.4,3.2,1,1
582,31,Male,1.3,0.5,184,29,32,6.8,3.4,1,1
583,38,Male,1,0.3,216,21,24,7.3,4.4,1.5,2

In [0]:
new_data.columns = new_data.iloc[0]
new_data = new_data[1:]

In [0]:
new_data

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
1,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.9,1
2,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
3,62,Male,7.3,4.1,490,60,68,7,3.3,0.89,1
4,58,Male,1,0.4,182,14,20,6.8,3.4,1,1
5,72,Male,3.9,2,195,27,59,7.3,2.4,0.4,1
...,...,...,...,...,...,...,...,...,...,...,...
579,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
580,40,Male,0.6,0.1,98,35,31,6,3.2,1.1,1
581,52,Male,0.8,0.2,245,48,49,6.4,3.2,1,1
582,31,Male,1.3,0.5,184,29,32,6.8,3.4,1,1
583,38,Male,1,0.3,216,21,24,7.3,4.4,1.5,2

In [0]:
#Shape of the data
new_data.shape

Out[45]: (583, 11)

In [0]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 1 to 583
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         583 non-null    object
 1   Gender                      583 non-null    object
 2   Total_Bilirubin             583 non-null    object
 3   Direct_Bilirubin            583 non-null    object
 4   Alkaline_Phosphotase        583 non-null    object
 5   Alamine_Aminotransferase    583 non-null    object
 6   Aspartate_Aminotransferase  583 non-null    object
 7   Total_Protiens              583 non-null    object
 8   Albumin                     583 non-null    object
 9   Albumin_and_Globulin_Ratio  579 non-null    object
 10  Dataset                     583 non-null    object
dtypes: object(11)
memory usage: 50.2+ KB

In [0]:
new_data.dropna(inplace=True)
new_data

<command-1543003662012494>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data.dropna(inplace=True)

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
1,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.9,1
2,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
3,62,Male,7.3,4.1,490,60,68,7,3.3,0.89,1
4,58,Male,1,0.4,182,14,20,6.8,3.4,1,1
5,72,Male,3.9,2,195,27,59,7.3,2.4,0.4,1
...,...,...,...,...,...,...,...,...,...,...,...
579,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
580,40,Male,0.6,0.1,98,35,31,6,3.2,1.1,1
581,52,Male,0.8,0.2,245,48,49,6.4,3.2,1,1
582,31,Male,1.3,0.5,184,29,32,6.8,3.4,1,1
583,38,Male,1,0.3,216,21,24,7.3,4.4,1.5,2

In [0]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd
# Encode labels in column Gender
label_encoder = LabelEncoder()
new_data['Gender']= label_encoder.fit_transform(new_data['Gender'])

<command-1543003662012495>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['Gender']= label_encoder.fit_transform(new_data['Gender'])

In [0]:
new_data

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
1,65,0,0.7,0.1,187,16,18,6.8,3.3,0.9,1
2,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74,1
3,62,1,7.3,4.1,490,60,68,7,3.3,0.89,1
4,58,1,1,0.4,182,14,20,6.8,3.4,1,1
5,72,1,3.9,2,195,27,59,7.3,2.4,0.4,1
...,...,...,...,...,...,...,...,...,...,...,...
579,60,1,0.5,0.1,500,20,34,5.9,1.6,0.37,2
580,40,1,0.6,0.1,98,35,31,6,3.2,1.1,1
581,52,1,0.8,0.2,245,48,49,6.4,3.2,1,1
582,31,1,1.3,0.5,184,29,32,6.8,3.4,1,1
583,38,1,1,0.3,216,21,24,7.3,4.4,1.5,2

In [0]:
X = new_data.drop('Dataset',axis=1)
Y = new_data['Dataset']

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=.25)

In [0]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(X,Y)

Out[52]: RandomForestClassifier()

In [0]:
Y_Pred = rfc.predict(X_test)

In [0]:

new_data_clean = pd.DataFrame({'Actual':Y_test,'Predicted':Y_Pred})
new_data_clean

,Actual,Predicted
409,1,1
34,2,2
26,1,1
168,1,1
545,1,1
...,...,...
382,1,1
293,1,1
223,1,1
500,1,1
348,1,1

In [0]:
from sklearn.metrics import confusion_matrix, accuracy_score
print("Confusion Matrix")
print(confusion_matrix(Y_test, Y_Pred))
print("Accuracy Score", accuracy_score(Y_test, Y_Pred))

Confusion Matrix
[[101   0]
 [  0  44]]
Accuracy Score 1.0